name: CI - Create Release and Publish
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: Bump Version
      id: bump
      uses: remorses/bump-version@js
      with:
        version_file: ./VERSION
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Update version in pom.xml (Release only)
      run: mvn -B versions:set -DnewVersion=${{ steps.bump.outputs.version }} -DgenerateBackupPoms=false -Dregistry=https://maven.pkg.github.com/dishantkamble -Dtoken=$GH_TOKEN --file pom.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Build with Maven
      run: mvn -B package --file pom.xml install
    - name: Publish to GitHub Packages Apache Maven
      run: mvn -B deploy -Dregistry=https://maven.pkg.github.com/dishantkamble -Dtoken=$GH_TOKEN
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Create Release
      uses: ncipollo/release-action@v1.20.0
      with:
        tag: ${{ steps.bump.outputs.version }}
        generateReleaseNotes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
